<h2>OpenAI Completion Test</h2>

<form method="post" enctype="multipart/form-data">
    <label for="text"><span>Enter the text:</span></label><br/>
    <textarea id="text" name="text" rows="10" cols="50"></textarea><br/>
    <input type="submit" name="submit-text" value="Get Completion">
</form>

<br/>
<br/>

<h2>OpenAI Audio Transcribing Test</h2>

<form method="post" enctype="multipart/form-data">
    <label for="audio"><span>Upload Audio File:</span></label>
    <input type="file" name="audio" id="audio" /><br/>
    <input type="submit" name="submit-audio" value="Transcribe Audio">
</form>
<br/>