<h1 class="text-3xl font-bold mb-4">OpenAI API Actions</h1>

<ol class="list-decimal">
    <li class="mb-4"><a href="/completion" class="hover:underline">Completion</a></li>
    <li class="mb-4"><a href="/image" class="hover:underline">Image</a></li>
    <li class="mb-4"><a href="/audio" class="hover:underline">Audio</a></li>
</ol>

<!--<h3 class="font-bold">OpenAI Completion Test</h3>-->

<!--<form method="post">-->
<!--    <textarea name="text" rows="5" class="w-full" placeholder="Enter the text..."></textarea><br/>-->
<!--    <button type="submit" name="submit-text" class="bg-blue-800 text-white font-bold p-4 w-48">Get Completion</button>-->
<!--</form>-->

<!--<br/>-->
<!--<br/>-->

<!--<h3 class="font-bold">OpenAI Image Generating Test</h3>-->

<!--<form method="post">-->
<!--    <textarea name="image-description" rows="5" class="w-full" placeholder="Enter the image description..."></textarea><br/>-->
<!--    <button type="submit" name="submit-image-description" class="bg-blue-800 text-white font-bold p-4 w-48">Get Image</button>-->
<!--</form>-->

<!--<br/>-->
<!--<br/>-->

<!--<h3 class="font-bold">OpenAI Audio Transcribing Test</h3>-->

<!--<form method="post" enctype="multipart/form-data">-->
<!--    <input type="file" name="audio" class="block w-full text-sm text-gray-900 border border-gray-300 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" /><br/>-->
<!--    <button type="submit" name="submit-audio" class="bg-blue-800 text-white font-bold p-4 w-48">Transcribe Audio</button>-->
<!--</form>-->
<!--<br/>-->